/* Error */
.error {
  color: red;
  font-size: 40px;
}
/* Error */
#error-dialog {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  text-align: center;
  padding: 0.5rem;
  display: grid;
  grid-auto-columns: auto;
  grid-auto-rows: auto;
  margin-top: 2rem;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 12.5px;
  border: 1px solid black;
  min-height: 20%;
  min-width: 30%;
}
.dialog-header {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(4, 1fr);
}

.dialog-header-label {
  grid-column: 2/4;
}
.close-error-dialog-btn {
  justify-self: end;
  max-width: 50%;
  background-color: transparent;
}
#error-dialog strong,
#error-dialog p {
  margin-top: 10px;
}
