/* Filter button */
.filter-btn {
  min-height: 1.5rem;
  min-width: 10vw;
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
}
.filter-btn:last-of-type {
  margin-right: 0;
}

.active-filter {
  background-color: black;
  color: white;
}
@media (max-width: 760px) {
  .filter-btn {
    min-width: 15vw;
  }
}
