/* Confirmation */
#confirmation-container {
  display: grid;
  grid-template-columns: 0.5fr 2fr 0.5fr;
  grid-template-rows: repeat(2, 0.3fr) 2fr;
  font-family: "Poetsen One";
}
#confirmation-text-wrapper {
  grid-column: 2;
  grid-row: 2;
  text-align: center;
}
#confirmation-wrapper {
  grid-column: 2;
  grid-row: 3;
  border-radius: 25px;
  background-color: white;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  margin-top: 1rem;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
}
#confirmation-label-wrapper {
  display: flex;
  justify-content: start;
}
#confirmation-items-wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
#confirmation-return-home-wrapper {
  display: flex;
  justify-content: center;
  align-items: start;
  /* grid-row: 4; */
}
#confirmation-order-label-wrapper {
  padding: 1rem;
  color: white;
  background-color: rgb(109, 114, 104);
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
}
#confirmation-label-wrapper {
  grid-column: 2;
  display: flex;
  justify-content: center;
}
#confirmation-order-details-wrapper {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(1, 1fr);
  margin: 10px;
}
#confirmation-order-details-wrapper div {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.confirmation-return-home-btn {
  margin: 1rem;
  padding: 1rem;
  width: 25vw;
  max-height: 25vh;
  background-color: rgb(109, 114, 104);
  color: white;
}

.confirmation-return-home-btn:hover {
  background-color: rgb(55, 57, 52);
}
/* Responsiveness */
@media (max-width: 1000px) {
  #confirmation-order-details-wrapper {
    display: grid;
    grid-template-columns: 1fr;
  }
  #confirmation-order-details-wrapper div {
    width: 100%;
    flex-direction: row;
    justify-content: start;
    align-items: start;
    text-align: left;
    flex-wrap: wrap;
  }
  #confirmation-order-details-wrapper div strong {
    width: 100%;
    margin-top: 0.5rem;
  }
  #confirmation-order-details-wrapper div p {
    width: 100%;
  }
}
@media (max-width: 830px) {
  .confirmation-return-home-btn {
    width: 45vw;
  }
}
