@import url("https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap");

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #dbe4d2;
}

/* Navbar */
#navbar-container {
  min-height: 10vh;
  height: 10vh;
  display: grid;
  grid-template-columns: 1fr 0.5fr 1fr;
  font-family: "Poetsen One", Arial, Helvetica, sans-serif;
  padding-left: 2rem;
  padding-right: 2rem;
  align-items: center;
}
#nav-slogan-wrapper {
  grid-column: 1;
}
#nav-logo-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  grid-column: 2;
}
#nav-logo-image {
  max-height: 8vh;
}
#nav-links-wrapper {
  grid-column: 3;
  display: flex;
  justify-content: end;
}
#nav-links {
  display: flex;
  list-style: none;
}
#nav-links a {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 3rem;
}
#nav-links p {
  margin: 0;
  padding: 0;
}

.inactive-link,
.active-link {
  color: black;
}
.inactive-link {
  text-decoration: none;
}
.active-link {
  text-decoration-style: double;
}

@media (max-width: 750px) {
  #navbar-container {
    grid-template-columns: 0.25fr 1fr;
    padding-left: 1rem;
    padding-right: 1rem;
  }
  #nav-slogan-wrapper {
    display: none;
  }
  #nav-logo-wrapper {
    grid-column: 1;
    justify-content: start;
  }
  #nav-links-wrapper {
    grid-column: 2;
  }
  #nav-links a {
    margin-left: 0.5rem;
  }
}
