@import url("https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: rgb(218, 227, 209);
  overflow-x: hidden;
}
#root {
  height: fit-content;
  position: relative;
  min-height: 90vh;
  padding-bottom: 10vh;
}
select {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
}
* {
  margin: 0;
  padding: 0;
}

a {
  cursor: pointer;
}

dialog {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
}

/* General rules */
button,
input {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
}
input {
  padding-left: 1px;
}
button {
  cursor: pointer;
  border: none;
  border-radius: 6.75px;
  padding: 5px 12.5px;
}

.action-btn {
  background-color: rgb(109, 114, 104);
  color: white;
  max-height: 40vh;
  margin: 1rem;
  padding: 1rem;
  width: 25vw;
}
.action-btn:hover {
  background-color: rgb(55, 57, 52);
}
label {
  font-weight: bold;
}
